*{
	margin:0;
	padding:0;
	box-sizing:border-box;
	
}

body{
	background:grey;
}
header{
	background:yellow;
	padding:10px;
	font-family:helvetica;
}
	
header>h1{
	font-size:60px;
	text-align:center;
	
}
.score-board {
    border:3px solid #fff;
	margin:20px auto;
	width:200 px;
	color:#fff;
	font-size:20px;
	font-weight:700;
	border-radius:5px;
	text-align:center;
	padding:15px 20px;
	position:relative;
	color:black;
}
.badge {
   background:yellow;
	font-size:15px;
	border:2px solid #fff;
	border-radius:10px;
	padding:3px 2px;
	color:black;
}
#comp-label {
    position:absolute;
	top:auto;
	right:-25px;
	height:40%;
	width:30%;
}
#user-label {
    position:absolute;
	top:auto;
	left:-25px;
	height:40%;
	width:30%;

}
.result {
    text-align: center;
    font-size:40px;
	color:#fff;
}
.choice {
    width: 20%;
    text-align: center;
    border: 10px solid white ;
    border-radius: 20%;
    padding: 1.5rem 0rem;
    transition: all 0.5s ease-in-out;
	position:center;
}

.choice:hover {
    border: 3px solid grey;
    cursor: pointer;
    background: rgb(8, 8, 17);
}

.choice > img {
    width: 50%;
}
.action_text{
	text-align:center;
	font-family:helvetica;
	color:#fff;
	font-size:30px;
}	
	




